/* define styles for smaller screens */
@media screen and (max-width: 600px) {
    html {
      color: #1a1a1a;
      background-color: #ededed;
    }

    .top-bar {
      background: #ededed;  /* Change this to grey color */
      height: 55px;  /* Adjust this to change the height of the bar */
      width: 100%;
      position: fixed;
      top: 0;
      /* height: 50px; */
      left: 0;
      z-index: 1;  /* This ensures the bar stays on top of other elements */
    }
    
    .navbar {
      overflow: hidden;  
      background-color: #ededed;
      padding-top: 60px; /* Height of the hamburger menu */
      font-family: 'Spectral', serif;
      left: 0; /* set the navbar to the left side of the screen */
      width: 100%; /* set a full width  */
      height: 100%; /* make it full height */
      position: fixed; /* Enable the navbar to remain in view when scrolling */
      box-sizing: border-box;
      display: flex;  
      flex-direction: column; /* make the navbar elements appear in a column */
      overflow: auto; /* make the navbar scrollable */
      z-index: 1;
      transform: translateX(-100%);  /* Initially move the navbar off the screen. */
      transition: transform 0.2s ease-in-out;  /* Animate the movement. */
    }

    .navbar a {
      font-family: 'Spectral', serif;
      color: #565656;
      text-align: center;
      padding: 11px 10px;
      text-decoration: none;
    }

    .nav-toggle:checked ~ .navbar {
      transform: translateX(0);  /* When checkbox is checked, move navbar back on screen. */
    }

    .nav-toggle {
      display: none;
    }
    
    
    .navbar ul {
      list-style-type: none;
      padding: 0;
    }
    
    .navbar ul li a {
      font-family: 'Spectral', serif;
      color: #565656;
      text-align: center;
      padding: 11px 10px;
      display: block;
      padding: 20px;
      text-decoration: none;
    }
    
    .navbar ul li a:hover {
      background: #565656;
    }
    

    .nav-toggle:checked + .icon-burger,
    .icon-burger {
      display: block;
      cursor: pointer;
      position: fixed;
      left: 20px;
      top: 10px;
      z-index: 2;
    }

    .icon-burger .line {
      width: 40px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
    }

  
    body {
      margin: 0 auto;
      width: 80%;
      font-size: 1em;
      padding: 12px;
      /* hyphens: auto; */
      overflow-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
      font-family:  'Spectral', serif;
    }
    p {
      margin: 1em 0;
    }
    h1 {
      font-size: 1.8em;
      padding-top: 60px; /* Adjust this value to move h1 below the top-bar */
    }

    .tooltip-link {
      position: center;
      display: inline-block;
      color: #33D1FF;
    }

    .tooltip-text {
      visibility: hidden;
      width: 80%; /* Width of the tooltip(Box) */
      background-color: #555;
      color: #fff;
      text-align: left;
      border-radius: 10px;
      padding: 10px 10px;

      /* Position the tooltip */
      position: fixed; /* Changed from absolute to fixed */
      z-index: 1;
      top: 50%; /* Position at the vertical center of the screen */
      left: 50%; /* Position at the horizontal center of the screen */
      transform: translate(-50%, -50%); /* Center the tooltip box */
    
      /* Fade-in effect */
      opacity: 1;
      transition: opacity 0.2s;
    }

     .tooltip-link:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }

    .tooltip-link:hover {
      color: orange;
    }

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

  }
  

/* define styles for larger screens */

@media screen and (min-width: 600px) {
  .nav-toggle {
    display: none; /* hide the checkbox */
  }

  html {
    color: #1a1a1a;
    background-color: #ededed;
  }
  body {
    margin: 0 auto;
    max-width: 50em;
    padding-left: 200px;  /* push all body content to the right by the width of the navbar */
    padding-right: 30px;  
    padding-top: 30px;
    padding-bottom: 30px;
    /* hyphens: auto; */
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-family:  'Spectral', serif;
  }
  .navbar {
    overflow: hidden; 
    background-color: transparent;
    font-family: 'Spectral', serif;
    left: 10px; /* set the navbar to the left side of the screen */
    width: 150px; /* set a fixed width for your navbar */
    height: 80%; /* make it 80% height */
    position: fixed; /* Enable the navbar to remain in view when scrolling */
    display: flex; 
    flex-direction: column; /* make the navbar elements appear in a column */
    overflow-y: auto; /* make the navbar scrollable */
  }
  
  .navbar a {
    font-family: 'Spectral', serif;
    color: #565656;
    text-align: left;
    padding: 11px 10px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #565656;
    color: white;
  }

  p {
    margin: 1em 0;
  }
  a {
    color: #1a1a1a;
  }
  a:visited {
    color: #1a1a1a;
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
  }
  h5, h6 {
    font-size: 1em;
    font-style: italic;
  }
  h6 {
    font-weight: normal;
  }
  ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
  }
  li > ol, li > ul {
    margin-top: 0;
  }
  hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
  }
  table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
  }
  table caption {
    margin-bottom: 0.75em;
  }
  tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
  }
  th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }
  td {
    padding: 0.125em 0.5em 0.25em 0.5em;
  }
  header {
    margin-bottom: 4em;
    text-align: center;
  }
  #TOC li {
    list-style: none;
  }
  #TOC ul {
    padding-left: 1.3em;
  }
  #TOC > ul {
    padding-left: 0;
  }
  #TOC a:not(:hover) {
    text-decoration: none;
  }
  span.smallcaps{font-variant: small-caps;}
  div.columns{display: flex; gap: min(4vw, 1.5em);}
  div.column{flex: auto; overflow-x: auto;}
  div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
  ul.task-list{list-style: none;}
  
  .tooltip-link {
    position: relative;
    display: inline-block;
    color: #33D1FF;
  }

  .tooltip-text {
    visibility: hidden;
    width: 400px; /* Width of the tooltip(Box) */
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 10px 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade-in effect */
    opacity: 1;
    transition: opacity 0.2s;
  }
  
  .tooltip-link:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-link:hover {
    color: orange;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

}
  
  header {
    padding: 20px;
    text-align: center;
  }
  
  section {
  width: 100%; /* Adjust this value to change the width of the section */
  transition: background-color 1s; /* make the transition of the color */
  }

.highlight {
    background-color: yellow;
  }

  .code-box {
    background-color:    #454545   ; 
    /* border: 1px solid #ddd; */
    padding: 10px;
    width: 70%; /* Adjust the width as needed */
    max-height: 300px; /* Maximum height before scrolling */
    overflow: auto;
    border: 1px solid #ddd;
    font-family: monospace;
}
.code-box code {
    color: whitesmoke;
}
.code-box .keyword { color:  orange ; font-weight: bold; } /* Keywords */
.code-box .function { color: #0066ff; } /* Functions */
.code-box .string { color: #a31515; } /* String literals */
.code-box .comment { color: #008000; font-style: italic; } /* Comments */
.code-box .number { color: #ff0000; } /* Numbers */
.code-box .operator { color: #DE3163; } /* Operators */
.code-box .group { color: #DFFF00; } /* Parentheses and Brackets */
.code-box .outcome { color:  #40E0D0 ; } /* Outcome */
