.back-button {
    font-family: 'Roboto', sans-serif; /* Your preferred font for the button text */
    display: inline-flex; /* To align the icon and text */
    align-items: center; /* To align the icon and text */
    padding: 10px;
    cursor: pointer;
  }
  
  .back-button .material-symbols-outlined {
    font-family: 'Material Symbols Outlined'; /* Use the Material Symbols Outlined font */
    margin-right: 5px; /* Space between icon and text */
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; /* OpenType font variations */
  }
  